<div class="contentContainer">
    <h1 class="titleJapanise">～ 相槌メーカー ～</h1>
    <h2 class="titleEnglish">RandomAgreementGenerator</h2>
    <p class="agreementContent"><%= @random_agreement %></p>
</div>