.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleJapanise {
  font-size: xx-large;
}

.titleEnglish {
  font-size: x-large;
}
.agreementContent {
  font-size: xx-large;
}
